@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



#promo {
    padding: 80px 40px 40px 40px !important;
}

.round-3 {
    border-radius: 20px;
    background-color: rgba(107, 88, 88, 0.35) !important;
    padding: 10px !important;
    margin-top: 50px;
}

figure {
    overflow: hidden;
}

#zoom-in img {
    transform: scale(1);
    transition: 0.3s ease-in-out;
}

#zoom-in:hover img {
    transform: scale(1.5);
}

.card-title {
    color: #026670;
    font-family: 'Mochiy Pop P One', sans-serif;
    font-size: 17px;
    text-decoration: none !important;
}

.noDecoration,
a:link,
a:visited {
    text-decoration: none;
}

.products {
    background-color: #EDEAE5;
    padding: 100px 70px;
    margin: 0px;
}

.products h1 {
    text-align: center;
    font-family: 'Mochiy Pop P One', sans-serif;
    font-size: 30px;
    color: #026670;
    text-align: center;
}

.card-img-top {
    border-radius: 20px;
    height: 300px !important;
}


.company-name {
    color: #EDEAE5;
}



@media(max-width: 1006px) {

    .footer-cont {
        padding: 40px 10px 20px 10px !important;
    }
}